node_modules
dist
.env
.env.local
.env.example
.env.test
.env.development
.env.production
/test/!mocha.opts
/test/!jasmine.json
Cypress/videos/
Cypress/screenshots/

# Production
/build
/dist

# Editor configuration
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
/coverage